@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">.NET projekt (Josip Škrlec)</h1>
    <p>prikaz dodavanje delete 3D modela...</p>
</div>

<div>
    @*<partial name="_3DModelView2" />*@
    @*@Html.Partial("3DModelView")*@
</div>
