@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />

<a href="@Url.Action("FAQ", "Home",new { brojPitanja = "4"})">Link sa parametrom 4.</a>
<br />
<a href="@Url.Action("FAQ", "Home")">Link bez parametra</a>