@model Vjezba.Model.Client

@using Vjezba.Model

@{
    ViewData["Title"] = "Clients";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="/Client">Client list</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create client</li>
    </ol>
</nav>

<h4>Zadatak 6.3 - partial view</h4>

<form asp-action="Create" method="post">

    <div class="form-group">
        <input asp-for="FirstName" class="form-control" placeholder="Ime" />
    </div>
    <div class="form-group">
        <input asp-for="LastName" class="form-control" placeholder="Prezime" />
    </div>
    <div class="form-group">
        <input asp-for="Email" class="form-control" placeholder="E-mail" />
    </div>

    <div class="form-group">
        <input asp-for="Gender" class="form-control" placeholder="Spol" />
    </div>

    <div class="form-group">
        <input asp-for="Address" class="form-control" placeholder="Adresa" />
    </div>

    <div class="form-group">
        <input asp-for="PhoneNumber" class="form-control" placeholder="Broj" />
    </div>

    <div class="form-group">
        <input asp-for="CityID" class="form-control" placeholder="City ID" />
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

</form>