@model Vjezba.Model.ThreeD

    <head>
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/dropZone/dist/dropzone.css">
        <link rel="stylesheet" href="~/dropZone/dist/min/dropzone.min.css">
        <link rel="stylesheet" href="~/dropZone/dist/min/basic.min.css">

        <script src="~/dropZone/dist/dropzone.js"></script>
        <script src="~/dropZone/dist/dropzone.min.js"></script>

        <script type="text/javascript">
            var dropz = new Dropzone(".dropZone", {
                maxFiles: 1,
                maxFilesize: 50,
                acceptedFiles: ".obj"
            });
        </script>
    </head>


    <div class="form-group">
        <label class="control-label">Name of 3D model</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Short comment: </label>
        <input asp-for="Comment" class="form-control" />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>

    @*@{
            // Malo hacky, ali funkcionira dobro za sve zapadne kulture, primjer moćnijih kultura su US ili RH.
            var pattern = System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower();
            pattern = pattern.Replace("DD", "D").Replace("D", "DD");
            pattern = pattern.Replace("MM", "M").Replace("M", "MM");
        }*@

    <div class="form-group" > 
        <div enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
            <div asp-for="objAttachment" action="/ThreeD/Upload1" class="dropZone">
                Drop .OBJ here or click to upload.
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label">Grad</label>
        <select asp-for="Category" asp-items="ViewBag.PossibleCategoryes" class="form-control"></select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Spremi" class="btn btn-outline-success" />
    </div>
