@using Vjezba.Model
@model List<ThreeD>

@{
	ViewData["Title"] = "Home Page";
}

<style>
	.tab-pane {
		padding: 20px;
	}
</style>

<h1>Popis klijenata</h1>
<div style="margin-top: 20px; margin-bottom: 10px;">
	<partial name="_ThreeDFilter" model="new ThreeDFilterModel()" />
</div>

<div id="table-cont">

</div>

@section Scripts{ 
	<script>
		$("#filterBtn").click(function () {
			$.ajax({
				url: "@Url.Action("IndexAjax")",
				method: "POST",
				data: $("#filter-form").serialize(),
                contentType: "application/json",
				success: function(html) {
					console.log(html);
					$("#table-cont").html(html);
				},
            })
        })
	</script>
}